<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/new.css" />
<%- include('../partials/nav') %> 

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/flights/<%= flight._id %>?_method=PUT" method="POST">
    <label for="flightNo-input">Flight Number:</label>
    <input type="number" name="flightNo" id="flightNo-input" min="10" max="9999" placeholder="-- Flight Number --" value="<%= flight.flightNo %>">
    <label for="airline-input">Airline:</label>
    <select name="airline" id="airline-input">
      <option value="<%= flight.airline %> "><%= flight.airline ? flight.airline : `-- Airline --` %></option>
      <option value="Delta">Delta</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
      <option value="American">American</option>
      <option value="Alaska">Alaska</option>
      <option value="Hawaiian">Hawaiian</option>
      <option value="JetBlue">JetBlue</option>
      <option value="Frontier">Frontier</option>
      <option value="Allegiant">Allegiant</option>
      <option value="Spirit">Spirit</option>
    </select>
    <label for="airport-input">Airport:</label>
    <select name="airport" id="airport-input">
      <option value="<%= flight.airport %>"><%= flight.airport %></option>
      <option value="ATL">ATL</option>
      <option value="LAX">LAX</option>
      <option value="ORD">ORD</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="JFK">JFK</option>
      <option value="SFO">SFO</option>
      <option value="SEA">SEA</option>
      <option value="LAS">LAS</option>
      <option value="MCO">MCO</option>
      <option value="AUS">AUS</option>
      <option value="SAN">SAN</option>
    </select>
    <label for="departs-input">Departs:</label>
    <input type="datetime-local" name="departs" id="departs-input" value="<%= flight.departs.toISOString().slice(0, 19) %>">
    <button type="submit">Update Flight</button>
  </form>
</main>

<%- include('../partials/footer') %> 
