<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %> 

<main>
  <h1><%= title %></h1>
  <section>
    <label>Flight Number:</label>
    <div><%= flight.flightNo %> </div>
    <label>Airline:</label>
    <div><%= flight.airline %> </div>
    <label>Airport:</label>
    <div><%= flight.airport %> </div>
    <label>Departs:</label>
    <div><%= flight.departs %> </div>
    <label>Recorded:</label>
    <div><%= flight.createdAt %></div>
    <label>Last Updated:</label>
    <div><%= flight.updatedAt %></div>
    <a href="/flights/<%= flight._id %>/edit">Edit Flight</a>
    </form>
  </section>
  <h2>Tickets</h2>
    <table>
      <thead>
        <tr>
          <th>Date Created</th>
          <th>Seat</th>
          <th>Price</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% if (!flight.tickets.length) { %>
          <tr class="single-column">
            <td>No Tickets Created</td>
          </tr>
        <% } else { %>
          <% flight.tickets.forEach(ticket => { %>
            <tr>
              <td><%= ticket.createdAt.toString().slice(0, 16) %></td>
              <td><%= ticket.seat %></td>
              <td>$<%= ticket.price %></td>
              <td><a href="/flights/<%= flight._id %> "><i class="fas fa-solid fa-pen-to-square"></i></i></a></td>
              <td>
                <form id="new-form" action="/flights/<%= flight._id %>/tickets/<%= ticket._id %>?_method=DELETE" method="POST">
                  <button class="delete-button" type="submit"><i class="fas fa-solid fa-delete-left fa-2x"></i></button>
                </form>
              </td>
            </tr>
          <% }) %>
        <% } %> 
      </tbody>
    </table>
  <table>
    <tbody>
      <form id="add-ticket-form" action="/flights/<%= flight._id %>/tickets" method="POST">
        <tr class="create-ticket-table">
          <td><%= Date().toString().slice(0, 16) %></td>
          <td><input name="seat" required pattern="[A-F][1-9]\d?" placeholder="A1 - F99"></input></td>
          <td><input type="number" required name="price" min="0.00" step="0.01" placeholder="0.00"></input></td>
          <td><button class="create-ticket-button" type="submit">Create Ticket</button></td>
        </tr>
      </form>
    </tbody>
  </table>
  <h2>Meals</h2>
  <table class="meals-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <% if (!flight.meals.length) { %>
        <tr class="single-column" id="no-meals-display">
          <td>No Meals Assigned</td>
        </tr>
      <% } else { %>
        <% flight.meals.forEach(meal => { %>
          <tr>
            <td><%= meal.name %></td>
            <td>
              <form id="new-form" action="/flights/<%= flight._id %>/meals/<%= meal._id %>?_method=DELETE" method="POST">
                <button class="delete-button" type="submit"><i class="fas fa-solid fa-delete-left fa-2x"></i></button>
              </form>
            </td>
          </tr>
        <% }) %>
      <% } %>
      <form id="add-meal-form" action="/flights/<%= flight._id %>/meals" method="POST">
        <tr>
          <td>
            <select name="mealId">
              <% meals.forEach(meal => { %>
                <option value="<%= meal._id %>"><%= meal.name %></option>
              <% }) %>
            </select>
          </td>
          <td><button class="create-ticket-button" type="submit">Assign Meal</button></td>
        </tr>
      </form>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %> 
